/**
 *  Color Map
 *  Example usage:
 *
 *  $_color: (
 *    white: #ffffff,
 *    black: #000000
 *  );
 *
 *  .test{
 *    color: color('white');
 *    background: color(mist);
 *  }
 */

$_color: (
  white: #ffffff,
  black: #000000
);
