/**
 *  Global styles
 */


*{
  -webkit-font-smoothing: antialiased;
}

// Overshoot Colour
body{
  &:after{
    content: '';
    width: 99999px;
    height: 9999999px;
    top: 0;
    left: 0;
    position: fixed;
    background: color(black);
    z-index: -1;
  }
}

html{
  background: color(white);
  height: 100%;
}

//Default styles
body{
	margin: 0px;
	min-height: 100%;
  background: color(white);
}

#main{
  padding-top: 60px;
  @include grid-media($smdesktop){
    padding-top: 80px;
  }
}

p, h1, h2, h3, h4, h5{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: color(aopen);
  &.inherit{
    color:inherit;
  }
}
