/**
 *  Lazysizes Image Ratios
 *  For use with images that are not automatically determined via the filter.
 */

img[data-sizes="auto"] {
  display: block;
  width: 100%;
}

@include b('img'){
  @include m('responsive'){
    position: relative;
    img{
      position: absolute;
    }
  }
}

img.lazyloading {
		opacity: 0;
		transition: opacity 400ms;
	}
img.lazyloaded {
		opacity: 1;
	}